/* src/components/Header.css */


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 15px 7%;
    color: white;
    position: relative;
    top: 0; /* Ensure it sticks to the top */
    z-index: 1000; /* Keep it above other content */
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

ul li a {
    color: #3867d6; /* Set text color */
    text-decoration: none; /* Remove underline */
}

ul li a:hover {
    color: white; /* Change text color on hover */
}




.header-title {
    font-size: 2rem; /* Title font size */
    color: white; /* Title text color */
    margin: 0; /* Remove default margin */
  }